<div id="explore-collection">
    <div class="container-lg">
      <div class="collection-head">
        <h4>Orange Tree</h4>
        <p>
          For over two decades Orange Tree has been exporting Home decor
          products to some of the best brands in the world. A part of the
          vision Mr. Vinay Kumar had for Orange Tree, was to framework a
          homegrown branch for the domestic market.
        </p>
        <a class="" href="#">Explore Collection<i class="fa-solid fa-arrow-right-long"></i></a>
      </div>
      <div class="row collection-img pt-4 pt-md-5">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
          <img src="assets/images/Frame 112015.jpg" alt="Collection Images" class="ing-fluid w-100">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
          <img src="assets/images/Frame 112016.jpg" alt="Collection Images" class="ing-fluid w-100">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-3 mt-md-0">
          <img src="assets/images/Frame 112012.jpg" alt="Collection Images" class="ing-fluid w-100">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-3 mt-md-0">
          <img src="assets/images/Frame 112017.jpg" alt="Collection Images" class="ing-fluid w-100">
        </div>
      </div>
    </div>
  </div>