<section class="current-order-banner">
        <div class="container-lg">
            <div class="row">
                <div class="col-sm-6">
                    <div class="current-order-banner-info">
                        <h3>Everything home now at your fingertips</h3>
                        <p>Download the Livespace App to enable exciting offers to style your home</p>
                        <div class="current-order-downloads d-flex justify-content-sm-start justify-content-center flex-wrap">
                          <div class="row">
                         <div class="col-6">
                          <a href="https://play.google.com/store/apps/details?id=com.livspace.livspacehub" target="_blank">
                            <img src="{{ 'andriod-download.svg' | asset_url}}" alt="Andriod Download" class="img-fluid">
                          </a>
                         </div>
                          <div class="col-6">
                          <a href="https://apps.apple.com/IN/app/id1513649031?mt=8" target="_blank">
                            <img src="{{ 'iphone-download.svg' | asset_url}}" alt="Iphone Download" class="img-fluid">
                          </a>
                          </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                    <div class="current-order-banner-img pt-sm-0 pt-5">
                        <img src="{{'phone.svg' | asset_url}}" alt="Current Order Banner"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}