<div class="shop-by-brand">
    <div class="container-lg">
        <div class="shop-by-brand-head text-center">
            <p>{{ section.settings.heading }}</p>
        </div>
        <div class="shop-brads pt-md-5 pt-3" style="background-color:{{ section.settings.divsectionbg }}">
            <ul class="shop-by-brands-list list-unstyled d-flex justify-content-md-between justify-content-center m-0">
                {% for block in section.blocks %}
                <li>
                    <img src="{{ block.settings.product.image |img_url:'original'}}" alt="Shop By Brand" class="img-Rp">
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Shop by Brand",
    "tag": "section",
    "max_blocks": 5,
  	"settings": [
  		{
  			"type": "text",
  			"id": "heading",
  			"label": "Title"
  		},  {
          			"type": "color",
          			"id": "divsectionbg",
          			"label": "Section Background Color"
            		}
  	],
      "blocks": [
        {
          "type": "image",
          "name": "Banner Logo",
          "settings": [
            {
              "type": "image_picker",
              "id": "product",
              "label": "Banner Image"
            }
          ]
        }
      ],
      "presets": [
{
"name": "Shop by Brand",
"category": "Home Page Sections"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
