
{% section 'custom-search-template' %}
{% section "custom-explore-categories" %}
<div >
 {%- render 'custom-no-search-result-mobile-footer', collectionhandle: 'top-searches' %}

</div>
<div>
   {%- render 'custom-no-search-result-mobile-footer', collectionhandle: 'trending-products' %}
</div>
